*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
}

.logo{
    width: 80px;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto{
    width: 600px;
}

h2{
    color: #333;
    font-size: 60px;
    font-weight: bold;
}

span{
    color: #017143;
    font-size: 70px;
    font-weight: 900;
}

p{
    font-size: 16px;
}

.imagem {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
}

.menu{
    display: flex;
    justify-content: center;
}

.circulo{
    background: #017143;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 800px);
    z-index: -1;
}

.botao-menu{
    width: 60px;
    cursor: pointer;
}

.imagem-copo{
    width: 340px;
}

button{
    background-color: #017143;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 20px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color: #01bc6e;
}


@media (max-width: 1024px) {
    body {
        padding: 20px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .texto {
        width: 100%;
    }

    .imagem {
        margin-top: 150px; 
        justify-content: center;
    }

    h2 {
        font-size: 50px; 
    }

    span {
        font-size: 60px; 
    }

    .imagem-copo {
        width: 300px; 
    }

    button {
        padding: 8px; 
    }
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    .conteudo {
        flex-direction: column; 
        text-align: center; 
    }

    .texto {
        width: 100%; 
    }

    .imagem {
        margin-top: 50px; 
    }

    h2 {
        font-size: 40px; 
    }

    span {
        font-size: 50px; 
    }

    .imagem-copo {
        width: 250px; 
    }

    .botao-menu {
        width: 50px; 
    }

    button {
        padding: 6px; 
    }
}


@media (max-width: 480px) {
    h2 {
        font-size: 30px; 
    }

    span {
        font-size: 40px;
    }

    .imagem-copo {
        width: 200px; 
    }

    .circulo {
        clip-path: circle(400px at right 600px); 
    }
}
